<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - La Venta Musical</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("La Venta Musical", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">s
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Ver Canciones", "Index", "Canciones", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>

                <ul class="nav navbar-nav navbar-rigth">
                    @if (Session["UsuarioId"] == null)
                    {
                        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Cuenta", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Registrarse", "Register", "Cuenta", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li>
                            <a>Hola, @Session["NombreUsuario"]</a>
                        </li>
                        <li>@Html.ActionLink("Cerrar Sesión", "Logout", "Cuenta", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
                @if ((string)Session["PerfilNombre"] == "Administrador")
                {
                    <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li>@Html.ActionLink("Canciones", "Index", "Canciones")</li>
                    <li>@Html.ActionLink("Perfiles", "Index", "Perfiles")</li>
                }
                else if ((string)Session["PerfilNombre"] == "Usuario")
                {
                    <li>@Html.ActionLink("Comprar Musica", "Index", "Canciones")</li>
                    <li>@Html.ActionLink("Mis datos", "Edit", "Usuarios", new { id = Session["UsuarioId"] }, null)</li>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Programacion Avanzada - Jorge Isaac López V.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
