@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string perfil = Session["PerfilNombre"] as string;
    bool esAdmin = string.Equals(perfil, "Administrador", StringComparison.OrdinalIgnoreCase);
}

@if (esAdmin)
{
    
    <div class="jumbotron">
        <h1>Panel de administración</h1>
        <p class="lead">
            Gestiona usuarios, canciones, géneros y ventas desde un solo lugar.
        </p>
        <p>
            @Html.ActionLink(
                "Gestionar canciones",
                "Index",
                "Canciones",
                null,
                new { @class = "btn btn-primary btn-lg" }
            )
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Canciones</h3>
                </div>
                <div class="panel-body">
                    <p>Administra el catálogo completo de canciones.</p>
                    @Html.ActionLink("Ir a canciones", "Index", "Canciones", null, new { @class = "btn btn-default btn-block" })
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Usuarios</h3>
                </div>
                <div class="panel-body">
                    <p>Consulta y administra los usuarios del sistema.</p>
                    @Html.ActionLink("Ir a usuarios", "Index", "Usuarios", null, new { @class = "btn btn-default btn-block" })
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Géneros y ventas</h3>
                </div>
                <div class="panel-body">
                    <p>Administra los géneros y consulta el historial de ventas.</p>
                    @Html.ActionLink("Géneros", "Index", "GeneroMusicales", null, new { @class = "btn btn-default btn-block" })
                    @Html.ActionLink("Ventas", "Index", "Ventas", null, new { @class = "btn btn-default btn-block", style = "margin-top:5px;" })
                </div>
            </div>
        </div>
    </div>
}
else
{
    
    <div class="jumbotron">
        <h1>La Venta Musical</h1>
        <p class="lead">
            Explora, selecciona y compra tus canciones favoritas en pocos pasos.
        </p>
        <p>
            @Html.ActionLink(
                "Ir a comprar canciones",
                "Index",
                "Canciones",
                null,
                new { @class = "btn btn-primary btn-lg" }
            )
        </p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Explora el catálogo</h3>
            <p>Descubre canciones por género, precio y nombre.</p>
            @Html.ActionLink("Ver canciones", "Index", "Canciones", null, new { @class = "btn btn-default" })
        </div>

        <div class="col-md-4">
            <h3>Arma tu carrito</h3>
            <p>Agrega canciones al carrito y compáralas antes de pagar.</p>
            @Html.ActionLink("Ver carrito", "VerCarrito", "Ventas", null, new { @class = "btn btn-default" })
        </div>

        <div class="col-md-4">
            <h3>Compra segura</h3>
            <p>Confirma tu compra utilizando la tarjeta registrada en tu perfil.</p>
            @Html.ActionLink("Ir al pago", "VerCarrito", "Ventas", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
