@model IEnumerable<PAV_PF_JorgeIsaacLopezV.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Identificacion
        </th>
        <th>
            Nombre Completo
        </th>
        <th>
            Género
        </th>
        <th>
            Correo
        </th>
        <th>
            Numero Tarjeta
        </th>
        <th>
           Contraseña
        </th>
        <th>
            Tipo Perfil
        </th>
        <th>
            Tipo Tarjeta
        </th>s
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero_identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numero_tarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil.nombre_perfil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoTarjeta.nombre_tarjeta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_usuario }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_usuario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_usuario })
        </td>
    </tr>
}

</table>
