@model PAV_PF_JorgeIsaacLopezV.Models.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Crear cuenta</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.NumeroIdentificacion)
                        @Html.TextBoxFor(m => m.NumeroIdentificacion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NumeroIdentificacion, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NombreCompleto)
                        @Html.TextBoxFor(m => m.NombreCompleto, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NombreCompleto, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Genero)
                        @Html.DropDownListFor(
                            m => m.Genero,
                            (SelectList)ViewBag.GeneroLista,
                            "-- Seleccione género --",
                            new { @class = "form-control" }
                        )
                        @Html.ValidationMessageFor(m => m.Genero, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Correo)
                        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.IdTipoTarjeta, "Tipo de tarjeta")
                        @Html.DropDownListFor(
                            m => m.IdTipoTarjeta,
                            (SelectList)ViewBag.IdTipoTarjeta,
                            "-- Seleccione tipo de tarjeta --",
                            new { @class = "form-control" }
                        )
                        @Html.ValidationMessageFor(m => m.IdTipoTarjeta, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.NumeroTarjeta)
                        @Html.TextBoxFor(m => m.NumeroTarjeta, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NumeroTarjeta, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Contrasena)
                        @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Contrasena, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmarContrasena)
                        @Html.PasswordFor(m => m.ConfirmarContrasena, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmarContrasena, "", new { @class = "text-danger" })
                    </div>

                    <button type="submit" class="btn btn-success btn-block">
                        Registrarse
                    </button>
                }
            </div>
            <div class="panel-footer text-center">
                ¿Ya tienes cuenta?
                @Html.ActionLink("Inicia sesión", "Login", "Cuenta")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
