@model PAV_PF_JorgeIsaacLopezV.Cancion

@{
    ViewBag.Title = "Crear canción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Crear canción</h2>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Datos de la canción</h3>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Codigo Cancion", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.codigo_cancion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.codigo_cancion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Género", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("id_genero", null, "-- Seleccione un género --", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.id_genero, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Titulo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.nombre_cancion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.nombre_cancion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Artista", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.artista, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.artista, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Precio", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(m => m.precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.precio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Guardar" class="btn btn-success" />
            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
