@model PAV_PF_JorgeIsaacLopezV.Cancion

@{
    ViewBag.Title = "Eliminar canción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Confirmar eliminación</h3>
    </div>
    <div class="panel-body">
        <p>¿Está seguro de que desea eliminar esta canción?</p>

        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Html.DisplayFor(m => m.codigo_cancion)</dd>

            <dt>Nombre</dt>
            <dd>@Html.DisplayFor(m => m.nombre_cancion)</dd>

            <dt>Artista</dt>
            <dd>@Html.DisplayFor(m => m.artista)</dd>

            <dt>Precio</dt>
            <dd>@Html.DisplayFor(m => m.precio)</dd>

            <dt>Género</dt>
            <dd>@Html.DisplayFor(m => m.GeneroMusical.descripcion)</dd>
        </dl>
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.Raw(" ")
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
        }
    </div>
</div>
