@model PAV_PF_JorgeIsaacLopezV.Cancion

@{
    ViewBag.Title = "Detalles de canción";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string perfil = Session["PerfilNombre"] as string;
    bool esAdmin = string.Equals(perfil, "Administrador", StringComparison.OrdinalIgnoreCase);
}

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Detalles de la canción</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>@Html.DisplayFor(m => m.codigo_cancion)</dd>

            <dt>Nombre</dt>
            <dd>@Html.DisplayFor(m => m.nombre_cancion)</dd>

            <dt>Artista</dt>
            <dd>@Html.DisplayFor(m => m.artista)</dd>

            <dt>Precio</dt>
            <dd>@Html.DisplayFor(m => m.precio)</dd>

            <dt>Género</dt>
            <dd>@Html.DisplayFor(m => m.GeneroMusical.descripcion)</dd>
        </dl>
    </div>
    <div class="panel-footer">
        @if (esAdmin)
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.id_cancion }, new { @class = "btn btn-warning" })
            @Html.Raw(" ")
        }
        @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-default" })
        @Html.Raw(" ")
        @Html.ActionLink(
            "Agregar al carrito",
            "AgregarAlCarrito",
            "Ventas",
            new { idCancion = Model.id_cancion },
            new { @class = "btn btn-success" }
        )
    </div>
</div>
