@model IEnumerable<PAV_PF_JorgeIsaacLopezV.Cancion>
@using System.Linq

@{
    ViewBag.Title = "Canciones";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string perfil = Session["PerfilNombre"] as string;
    bool esAdmin = string.Equals(perfil, "Administrador", StringComparison.OrdinalIgnoreCase);
}

<h2>Listado de canciones</h2>

@if (esAdmin)
{
    <p>
        @Html.ActionLink("Crear nueva canción", "Create", null, new { @class = "btn btn-primary" })
    </p>
}

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info">
        No hay canciones registradas en el sistema.
    </div>
}
else
{
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codigo_cancion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.artista)
            </th>
s
            <th>
                @Html.DisplayNameFor(model => model.nombre_cancion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                Genero
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo_cancion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.artista)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.nombre_cancion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeneroMusical.descripcion)
                </td>
                <td>
                    @if (esAdmin)
                    {
                        @Html.ActionLink("Editar", "Edit", new { id = item.id_cancion }) @: |
                        @Html.ActionLink("Detalles", "Details", new { id = item.id_cancion }) @: |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id_cancion }) @: |
                    }
                    else
                    {
                        @Html.ActionLink("Detalles", "Details", new { id = item.id_cancion }) @: |
                    }

                    @Html.ActionLink(
                        "Agregar al carrito",
                        "AgregarAlCarrito",
                        "Ventas",
                        new { idCancion = item.id_cancion },
                        new { @class = "btn btn-xs btn-success" }
                    )
                </td>
            </tr>
        }
    </table>
}
